
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: coral;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


.services {
    background-color: wheat;
    padding: 20px;
    text-align: center;
}

.service {
    background-color: wheat;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: inline-block;
    width: calc(33.333% - 20px); 
    vertical-align: top;
}


footer {
    background-color: coral;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


@media (max-width: 768px) {
    .service {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .service {
        width: 100%; 
    }
}
